@import "tailwindcss";

.row { 
  @apply flex items-center justify-between;
}

.row-1 { 
  @apply flex items-center justify-between gap-1;
}

.col { 
  @apply flex flex-col
}

.col-1 { 
  @apply flex flex-col gap-1
}

.col-2 { 
  @apply flex flex-col gap-2
}

.primary-text-color { 
  @apply text-purple-600
}

.primary-bg-color { 
  @apply bg-purple-500 
}